/* .header {
  background-color: #0d1117;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  position: sticky;
  z-index: 1000;
  border-bottom: 1px solid #30363d;
} */
.navbar{
    background-color:black;
    color:white;
    position: sticky;
    top: 0%;
    z-index: 1;
    border-bottom: 1px solid grey;
    padding: 0;
    margin: 0%;
}

.logo {
  color: #58a6ff;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-menu li a {
  color: #c9d1d9;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-menu li a:hover {
  color: #58a6ff;
}

.resume-btn {
  background-color: #58a6ff;
  color: #fff;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.resume-btn:hover {
  background-color: #1f6feb;
}

/* Responsive (mobile) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px 20px;
  }

  .nav-menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
}
